<#bs4Body>
<!-- Automatically provides/replaces `Promise` if missing or broken. -->
<script src="${contextPath}/resources/design/es6-promise.js"></script>
<script src="${contextPath}/resources/design/es6-promise.auto.js"></script>
<!-- 引入Vue -->
<script src="${contextPath}/resources/design/vue@2.6.11.js"></script>
<!-- 引入element -->
<link rel="stylesheet" href="${contextPath}/resources/design/index.css">
<script src="${contextPath}/resources/design/index.js"></script>

<div id=app>
    <div class="container-fluid pb-5">
    <ele-form
            :form-attrs="{
            size: 'medium'
            }"
            ref="myForm"
            :span="18"
            label-position="left"
            :is-show-cancel-btn="false"
            submit-btn-text="提交"
            :is-show-error-notify="false"
            form-btn-size="medium"
            :form-btns="formBtns"
            :is-dialog="true"
            :form-desc="formDesc"
            v-model="formData"
            :request-fn="handleRequest">
    </ele-form>
</div>
</div>
</#bs4Body>
<script type="text/javascript">
    window.rootPath = '${contextPath}';
</script>
<script src="${contextPath}/resources/design/axios.min.js" type="text/javascript"></script>
<!-- 遮罩层 -->
<script src="${contextPath}/resources/blockUI/jquery.blockUI.js" type="text/javascript"></script>
<!-- 通用js -->
<script src="${contextPath}/resources/bui/js/base_treegrid.js" type="text/javascript"></script>
<script src="${contextPath}/resources/design/vue-ele-form.umd.min.js"></script>
<script>
    function init(vm){
        vm.formData = ${businessChargeItem!};
    }
</script>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                formBtns: [
                    {
                        text: ' 关闭 ',
                        click: () => {
                            $.modal.close();
                        }
                    }
                ],
                formData: {},
                formDesc: {
                    marketId: {
                        options: loadProvider({
                            provider: 'marketProvider',
                            queryParams: {required: true}
                        }, true, "marketId"),
                        label: "归属市场",
                        type: "select",
                        disabled(data) {
                            return data.disabled;
                        }
                    },
                    businessType: {
                        options: function (data) {
                            return loadProvider({
                                provider: 'dataDictionaryValueProvider',stringValue:true,
                                queryParams: {dd_code: "base_business_type", required: true}
                            }, true, "businessType")
                        },
                        label: "所属业务",
                        type: "select",
                        disabled(data) {
                            return data.disabled;
                        }
                    },
                    chargeItem: {
                        label: "费用项",
                        type: "input",
                        required: true,
                        attrs: {
                            maxlength: 20,
                            showWordLimit: true,
                        },
                        disabled(data) {
                            return data.disabled;
                        }
                    },
                    chargeType: {
                        options: loadProvider({
                            provider: 'businessChargeTypeProvider',
                            queryParams: {required: true}
                        }, true, "chargeType"),
                        label: "项目类型",
                        type: "select",
                        disabled(data) {
                            return data.disabled;
                        }
                    },
                    isRequired: {
                        options: loadProvider({provider: 'yesOrNoProvider', queryParams: {required: true}}),
                        label: "是否必填",
                        type: "radio",
                        required: true
                    },
                    fundItem: {
                        options: loadProvider({provider: 'fundItemProvider', queryParams: {required: true}}),
                        type: "select",
                        label: "资金项目",
                        required: true,
                        attrs: {
                            filterable: true
                        },
                        disabled(data) {
                            return data.fundItemDisabled;
                        }
                    },
                    parentId: {
                        vif: function (data) {
                            if (!data.chargeType || data.chargeType === 1) {
                                data.parentId = null;
                                return false;
                            }
                            return true;
                        },
                        optionsLinkageFields: ['chargeType'],
                        options: function (data) {
                            return new Promise((resolve, reject) => {
                                axios.post('/businessChargeItem/getParentItem.action', {
                                    marketId: data.marketId,
                                    businessType: data.businessType
                                })
                                    .then((res) => {
                                        resolve(res.data.data);
                                    })
                                    .catch(function (error) {
                                        reject(error);
                                    });
                            });
                        },
                        prop: {text: 'chargeItem', value: 'id'},
                        label: "关联项目",
                        type: "select",
                        required: true,
                        disabled(data) {
                            return data.disabled;
                        }
                    },
                    code: {
                        vif: function (data) {
                            if (data.fixed && data.fixed === 1) {
                                data.code = null;
                                return true;
                            }
                            return false;
                        },
                        label: "费用项编码",
                        type: "input",
                        disabled(data) {
                            return data.disabled;
                        },
                        attrs: {
                            maxlength: 20,
                            showWordLimit: true
                        }
                    },
                    systemSubject: {
                        options: loadProvider({provider: 'systemSubjectTypeProvider'}),
                        label: "系统科目",
                        type: "select"
                    },
                    chargeSubjectPath: {
                        options: function (data) {
                            return new Promise((resolve, reject) => {
                                axios.post('/subject/getTree.action?state=1')
                                    .then((res) => {
                                        resolve(toEleTree(res.data.data,{label:"name",pid:"parent"}));
                                        // console.log(res);
                                    })
                                    .catch(function (error) {
                                        reject(error);
                                        // console.log(error);
                                    });
                            });
                        },
                        label: "财务科目",
                        type: "cascader",
                        attrs: {
                            props: {
                                value: 'id',
                                label: 'name',
                                separator: '-',
                                expandTrigger: 'hover',
                                checkStrictly: true
                            }
                        },
                        required: true
                    },
                    notes: {
                        label: "备注",
                        type: "textarea",
                        attrs: {
                            maxlength: 100,
                            showWordLimit: true,
                            autosize: {
                                minRows: 2,
                                maxRows: 4
                            }
                        }
                    }
                }
            };
        },
        methods: {
            handleRequest(data) {
                //因为财务科目必须填写，所以可不判断是否为空
                let chargeSubjectNode = app.$refs.myForm.$refs.chargeSubjectPath[0].$refs.cascader.getCheckedNodes(true)[0];
                let chargeSubject = data.chargeSubjectPath;
                data.chargeSubjectPath = chargeSubject.join();
                data.chargeSubjectName = chargeSubjectNode.pathLabels.join();
                app.$refs.myForm.$refs.fundItem[0].options.some(function (fundItem) {
                    if (fundItem.value === data.fundItem){
                        data.fundItemValue = fundItem.text;
                        return true;
                    }
                });
                axios.post(rootPath + "/businessChargeItem/save.action", data)
                    .then(function (response) {
                        if (response.data.success){
                            $.modal.close();
                            parent.queryDataHandler();
                        }else{
                            $.modal.alertError(response.data.message);
                        }
                    })
                    .catch(function (error) {
                        $.modal.alertError("系统错误");
                    });
            },
            handleRequestSuccess() {
                this.$message.success('发送成功')
            }
        },
        created: function () {
            // `this` 指向 vm 实例
            init(this)
        }
    })

    function loadProvider(data, first, name) {
        return new Promise((resolve, reject) => {
            axios.post('/convert/list.action', data)
                .then((res) => {
                    if (first) {
                        if (!app.formData[name]){
                            app.formData[name] = res.data[0].value;
                        }
                    }
                    resolve(res.data);
                })
                .catch(function (error) {
                    reject(error);
                });
        });
    }
</script>
