<#bs4Body>
<style>
    /**
    * 去掉select 的下拉选择箭头
    */
    .select-no-down {
        /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
        /*很关键：将默认的select选择框样式清除*/
        appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
        /*在选择框的最右侧中间显示小箭头图片*/
        background: transparent;
    }
</style>
<div class="container-fluid">
    <form id="addForm" role="form" novalidate>
        <input type="hidden" id="id" name="id" value="${businessChargeItem.id!}">
        <div class="row row-cols-1">
            <div class="form-group col">
                <label for="" class="">归属市场<i class="red">*</i></label>
                <select class="form-control edit" id="marketId" name="marketId" required></select>
                <#bcomboProvider _id="marketId" _provider="marketProvider"  _valueField="value" _textField="text" _value="${businessChargeItem.marketId!}" _queryParams='{required:true}' _option='async:false'/>
            </div>
            <div class="form-group col">
                <label for="" class="">所属业务<i class="red">*</i></label>
                <select class="form-control edit" id="businessType" name="businessType" required></select>
                <#bcomboProvider _log="所属业务" _id="businessType" _provider="dataDictionaryValueProvider"  _queryParams='{dd_code:"base_business_type",required:true}'  _valueField="value" _textField="text" _value="${businessChargeItem.businessType!}" _option='async:false'/>
            </div>
            <div class="form-group col">
                <label for="chargeItem" class="">费用项<i class="red">*</i></label>
                <input class="form-control edit" id="chargeItem" name="chargeItem" required value="${businessChargeItem.chargeItem!}">
            </div>
            <div class="form-group col">
                <label for="chargeType">项目类型<i class="red">*</i></label>
                <select class="form-control edit" id="chargeType" name="chargeType" required onchange="getParentItem()">
                    <%if (has(chargeTypeList) && isNotEmpty(chargeTypeList) && chargeTypeList.~size >0 ){
                    for(ct in chargeTypeList){
                    %>
                    <option  value="${ct.code!}" data-query="${ct.query!}" <%if(ct.code==businessChargeItem.chargeType){%> selected <%}%> >${ct.value!}</option>
                    <%}}%>
                </select>
            </div>
            <div class="form-group col">
                <label for="" class="">是否必填<i class="red">*</i></label>
                <select class="form-control" id="isRequired" name="isRequired" required></select>
                <#bcomboProvider _id="isRequired" _provider="yesOrNoProvider" _valueField="value" _textField="text" _value="${businessChargeItem.isRequired!}" _queryParams='{required:true}' />
            </div>
            <div id="parentIdDiv" style="display: none;" class="form-group col">
                <label for="parentId" class="">关联项目</label>
                <input type="hidden" id="oldParentId" value="${businessChargeItem.parentId!}">
                <select class="form-control edit" id="parentId" name="parentId">
                </select>
            </div>
            <div class="form-group col">
                <label for="parentId" class="">财务科目</label>
                <select class="form-control" id="chargeSubject" name="chargeSubject">
                    <option value="">暂无数据来源</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="" class="">备注</label>
                <textarea type="text" class="form-control" id="notes" name="notes" maxlength="255">${businessChargeItem.notes!}</textarea>
            </div>
        </div>
        <div class="text-right mt-2">
            <button type="button" class="btn btn-secondary px-5" id="formCancel" onclick="javascript:parent.dia.hide()">取消</button>
            <button type="button" class="btn btn-primary px-5" id="formSubmit">保存</button>
        </div>
    </form>
</div>
</#bs4Body>

<script>

    $(function () {
        let id = $('#id').val();
        if (id){
            $('.edit').attr("disabled","disabled");
            $("select:disabled").addClass("select-no-down");
            getParentItem($("#oldParentId").val());
        }
    });

    /**
     * 项目类型改变时，检查是否需要加载关联项目
     * @param _defaultValue 默认值
     */
    function getParentItem(_defaultValue) {
        let query = $('#chargeType').find("option:selected").data("query");
        let targetId = $('#parentId');
        targetId.empty();
        if (query && query == true) {
            let marketId = $('#marketId').val();
            let businessType = $('#businessType').val();
            let datas = ["<option value=''>-- 请选择 --</option>"];
            if (typeof (marketId) != "undefined" && typeof (businessType) != "undefined" && marketId && businessType) {
                $.ajax({
                    type: 'post',
                    url: '${contextPath}/businessChargeItem/getParentItem.action',
                    data: {marketId: marketId, businessType: businessType},
                    async: false,
                    success: function (ret) {
                        if (ret.success) {
                            $.each(ret.data, function (i, item) {
                                if (typeof (_defaultValue) != "undefined" && null != _defaultValue && '' != _defaultValue && _defaultValue == item.id) {
                                    datas.push('<option selected value="' + item.id + '">' + item.chargeItem + '</option>');
                                } else {
                                    datas.push('<option value="' + item.id + '">' + item.chargeItem + '</option>');
                                }
                            });
                        }
                    }
                });
                targetId.html(datas.join(''));
            }
            $("#parentIdDiv").show();
        } else {
            $("#parentIdDiv").hide();
        }
    }

    /**
     * 保存数据
     */
    $('#formSubmit').on('click', function () {
        if (!$('#addForm').valid()) {
            return false;
        } else {
            bui.loading.show('努力提交中，请稍候。。。');
            let _formData = $('#addForm').serialize();
            let url = "${contextPath}/businessChargeItem/save.action";
            $.ajax({
                type: "POST",
                url: url,
                data: _formData,
                async: true,
                success: function (ret) {
                    bui.loading.hide();
                    if (ret.success) {
                        bs4pop.alert('保存成功', {type: 'success',width: 400}, function () {
                            parent.dia.hide();
                            parent.queryDataHandler();
                        });
                    } else {
                        bs4pop.alert(ret.message, {width: 400,type: 'error'});
                    }
                },
                error: function (error) {
                    bui.loading.hide();
                    bs4pop.alert(error.result, {width: 400,type: 'error'},function () {

                    });
                }
            });
        }
    });

</script>