<#bs4Body>
<style>
    /**
    * 去掉select 的下拉选择箭头
    */
    .select-no-down {
        /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
        /*很关键：将默认的select选择框样式清除*/
        appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
        /*在选择框的最右侧中间显示小箭头图片*/
        background: transparent;
    }
</style>
<div class="container-fluid">
    <form id="addForm" role="form" novalidate>
        <input type="hidden" id="id" name="id" value="${businessChargeItem.id!}">
        <div class="row row-cols-1">
            <div class="form-group col">
                <label for="" class="">归属市场<i class="red">*</i></label>
                <select class="form-control edit" id="marketId" name="marketId" required></select>
                <#bcomboProvider _id="marketId" _provider="marketProvider"  _valueField="value" _textField="text" _value="${businessChargeItem.marketId!}" _queryParams='{required:true}' />
            </div>
            <div class="form-group col">
                <label for="" class="">所属业务<i class="red">*</i></label>
                <select class="form-control edit" id="businessType" name="businessType" required></select>
                <#bcomboProvider _log="所属业务" _id="businessType" _provider="dataDictionaryValueProvider"  _queryParams='{dd_code:"base_business_type",required:true}'  _valueField="value" _textField="text" _value="${businessChargeItem.businessType!}" />
            </div>
            <div class="form-group col">
                <%
                    var isEnable = false;
                    if(isEmpty(businessChargeItem.id)){
                        isEnable = true;
                    }
                %>
                <label for="chargeItem" class="">费用项<i class="red">*</i></label>
                <select class="form-control edit" id="chargeItem" name="chargeItem" required></select>
                <#bcomboProvider _id="chargeItem" _provider="chargeItemProvider"  _valueField="value" _textField="text" _value="${businessChargeItem.chargeItem!}" _queryParams='{required:true,isEnable:${isEnable} }' />
            </div>
            <div class="form-group col">
                <label for="" class="">备注</label>
                <textarea type="text" class="form-control" id="notes" name="notes" maxlength="255">${chargeItem.notes!}</textarea>
            </div>
        </div>
        <div class="text-right mt-2">
            <button type="button" class="btn btn-secondary px-5" id="formCancel" onclick="javascript:parent.dia.hide()">取消</button>
            <button type="button" class="btn btn-primary px-5" id="formSubmit">保存</button>
        </div>
    </form>
</div>
</#bs4Body>

<script>

    $(function () {
        let id = $('#id').val();
        if (id){
            $('.edit').attr("disabled","disabled");
            $("select:disabled").addClass("select-no-down");
        }
    });

    /**
     * 保存数据
     */
    $('#formSubmit').on('click', function () {
        if (!$('#addForm').valid()) {
            return false;
        } else {
            bui.loading.show('努力提交中，请稍候。。。');
            let _formData = $('#addForm').serialize();
            let url = "${contextPath}/businessChargeItem/save.action";
            $.ajax({
                type: "POST",
                url: url,
                data: _formData,
                async: true,
                success: function (ret) {
                    bui.loading.hide();
                    if (ret.success) {
                        bs4pop.alert('保存成功', {type: 'success',width: 400}, function () {
                            parent.dia.hide();
                            parent.queryDataHandler();
                        });
                    } else {
                        bs4pop.alert(ret.message, {width: 400,type: 'error'});
                    }
                },
                error: function (error) {
                    bui.loading.hide();
                    bs4pop.alert(error.result, {width: 400,type: 'error'},function () {

                    });
                }
            });
        }
    });

</script>