<style>
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }

    .avatar {
        width: 100%;
        height: 100%;
        display: block;
    }
</style>

<form id="editForm">
    <ele-form
            v-bind="formConfig"
            v-model="formData"
            v-loading="loading"
            :request-fn="handleRequest"
    />
</form>
<script type="text/javascript">
    var editApp = new Vue({
        created: function () {
            const data = ${data!};
            this.formData = data;
        },
        el: '#editForm',
        data() {
            return {
                loading: false,
                imageUrl: '',
                pram: {"accessToken": "389af650c1fe4d74a7bbd42c850088a3.1rHkoUqx3d4r3uoyoqpBtw"},
                formData: {pingying: '', pyInitials: '', name: '', categoryArray: []},
                formConfig: {
                    isDialog: true,
                    isShowCancelBtn: false,
                    formBtnSize: 'small',
                    formAttrs:{size:'small'},
                    formDesc: {
                        name: {
                            type: "input",
                            label: "品类名称",
                            attrs: {
                                clearable: true,
                                maxlength: 20,
                                showWordLimit: true
                            },
                            rules: [{
                                pattern: new RegExp("^[\u4e00-\u9fa5_a-zA-Z0-9]+$", ""),
                                type: "string",
                                message: "名称只能是中文、英文字母和数字"
                            }],
                            disabled: true,
                            valueFormatter(value) {
                                return value.trim();
                            },
                            displayFormatter(value) {
                                return value.trim();
                            },
                            on: {
                                change: (value) => {
                                    if (value !== undefined && value.trim() !== '') {
                                        $.ajax({
                                            type: "post",
                                            url: '/cus_category/convert.action',
                                            dataType: "json",
                                            data: {
                                                'name': value
                                            },
                                            success: function (data) {
                                                editApp.formData.pingying = data.whole;
                                                editApp.formData.pyInitials = data.first;
                                            },
                                            error: function () {

                                            }
                                        });
                                    } else {
                                        editApp.formData.pingying = "";
                                        editApp.formData.pyInitials = "";
                                    }
                                }
                            },
                            required: true
                        },
                        parentArray: {
                            isOptions: true,
                            options: function () {
                                return new Promise((resolve, reject) => {
                                    axios.get('/cus_category/getTree.action')
                                        .then((res) => {
                                            const data = res.data.data;
                                            data.push({
                                                keycode: "",
                                                id: 0,
                                                name: "根目录",
                                                parent: -1,
                                                path: "0",
                                                disabled: true,
                                                pyInitials: ""
                                            });
                                            const paths = ${paths};
                                            data.forEach(function (item) {
                                                paths.forEach(function (it) {
                                                    if (it.id === item.id) {
                                                        item.disabled = true;
                                                    }
                                                });
                                                if (item.path.split(',').length === 2 || item.path.split(',').length === 3) {
                                                    item.disabled = true;
                                                }
                                            });
                                            const tree = toEleTree(data, {label: "name", pid: "parent"});
                                            resolve(tree);
                                            // console.log(res);
                                        })
                                        .catch(function (error) {
                                            reject(error);
                                            // console.log(error);
                                        });
                                });
                            },
                            type: "cascader",
                            label: "父品类",
                            attrs: {
                                filterable: true,
                                clearable: true,
                                props: {
                                    value: 'id',
                                    label: 'name',
                                    separator: '-',
                                    expandTrigger: 'hover',
                                    checkStrictly: true
                                }
                            },
                            required: true,
                            disabled: true
                        },
                        pingying: {
                            type: "input",
                            label: "拼音全写",
                            valueFormatter(value) {
                                return value.trim();
                            },
                            displayFormatter(value) {
                                return value.trim();
                            },
                            rules: [{
                                pattern: new RegExp("^[a-zA-Z]+$", ""),
                                type: "string",
                                message: "拼音全写只能是字母"
                            }],
                            attrs: {
                                clearable: true,
                                maxlength: 100,
                                showWordLimit: true
                            },
                            required: true,
                            disabled: true
                        },
                        pyInitials: {
                            type: "input",
                            label: "拼音简写",
                            valueFormatter(value) {
                                return value.trim();
                            },
                            rules: [{
                                pattern: new RegExp("^[a-zA-Z]+$", ""),
                                type: "string",
                                message: "拼音简写只能是字母"
                            }],
                            displayFormatter(value) {
                                return value.trim();
                            },
                            attrs: {
                                clearable: true,
                                maxlength: 50,
                                showWordLimit: true
                            },
                            required: true,
                            disabled: true
                        },
                        keycode: {
                            type: "input",
                            label: "快捷编码",
                            valueFormatter(value) {
                                return value.trim();
                            },
                            rules: [{
                                pattern: new RegExp("^[a-zA-Z0-9]+$", ""),
                                type: "string",
                                message: "快捷编码只能是英文字母和数字"
                            }],
                            displayFormatter(value) {
                                return value.trim();
                            },
                            attrs: {
                                clearable: true,
                                maxlength: 20,
                                showWordLimit: true
                            },
                            required: true
                        },
                        alias: {
                            type: "input",
                            label: "品类别名",
                            valueFormatter(value) {
                                return value.trim();
                            },
                            displayFormatter(value) {
                                return value.trim();
                            },
                            rules: [{
                                pattern: new RegExp("^[\u4e00-\u9fa5_a-zA-Z0-9]+$", ""),
                                type: "string",
                                message: "名称只能是中文、英文字母和数字"
                            }],
                            attrs: {
                                clearable: true,
                                maxlength: 20,
                                showWordLimit: true
                            }
                        },
                        icon: {
                            label: '品类图片',
                            type: 'image-uploader',
                            attrs: {
                                action: '${url!}file/upload/',
                                drag: true,
                                data: {'accessToken': '389af650c1fe4d74a7bbd42c850088a3.1rHkoUqx3d4r3uoyoqpBtw'},
                                responseFn(response, file) {
                                    // 根据响应结果, 设置 URL
                                    return '${url!}file/view/' + response.data
                                }
                            }
                        }
                    },
                    order: [
                        "name",
                        "parentArray",
                        "pingying",
                        "pyInitials",
                        "keycode",
                        "alias",
                        "icon"
                    ]
                }
            }
        },
        methods: {
            handleRequest(data) {
                data['parent'] = data.parentArray[data.parentArray.length - 1];

                axios.post("/cus_category/save.action", data)
                    .then(function (response) {
                        if (response.data.code != '200') {
                            bs4pop.alert(response.data.message, {type: 'error'});
                            return;
                        }
                        loadTable();
                        treeApp.loadTree();
                        $('#editModal').modal('hide');
                        bs4pop.alert("品类信息修改成功!", {type: 'success'});
                        bui.loading.hide();
                    })
                    .catch(function (error) {
                        bs4pop.alert("品类修改失败", {type: 'error'});
                    });
            }
        }
    });
</script>
