<style>
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }

    .avatar {
        width: 100%;
        height: 100%;
        display: block;
    }
</style>

<form id="editForm">
    <ele-form
            v-bind="formConfig"
            v-model="formData"
            v-loading="loading"
            :request-fn="handleRequest"
    />
</form>
<script type="text/javascript">
    var editApp = new Vue({
        created: function () {
            const data = ${data!};
            this.formData = data;
        },
        el: '#editForm',
        data() {
            return {
                loading: false,
                imageUrl: '',
                pram: {"accessToken": "389af650c1fe4d74a7bbd42c850088a3.1rHkoUqx3d4r3uoyoqpBtw"},
                formData: {pingying: '', pyInitials: '', name: '', categoryArray: []},
                formConfig: {
                    isDialog: true,
                    isShowCancelBtn: false,
                    formDesc: {
                        name: {
                            type: "input",
                            label: "品类名称",
                            attrs: {
                                clearable: true,
                                maxlength: 20,
                                showWordLimit: true
                            },
                            on: {
                                change: (value) => {
                                    if (value !== undefined && value.trim() !== '') {
                                        $.ajax({
                                            type: "post",
                                            url: '/cus_category/convert.action',
                                            dataType: "json",
                                            data: {
                                                'name': value
                                            },
                                            success: function (data) {
                                                editApp.formData.pingying = data.whole;
                                                editApp.formData.pyInitials = data.first;
                                            },
                                            error: function () {

                                            }
                                        });
                                    } else {
                                        editApp.formData.pingying = "";
                                        editApp.formData.pyInitials = "";
                                    }
                                }
                            },
                            required: true
                        },
                        parentArray: {
                            isOptions: true,
                            options: function () {
                                return new Promise((resolve, reject) => {
                                    axios.get('/cus_category/getTree.action')
                                        .then((res) => {
                                            const data = res.data.data;
                                            data.push({
                                                keycode: "",
                                                id: 0,
                                                name: "根目录",
                                                parent: -1,
                                                path: "0",
                                                pyInitials: ""
                                            });
                                            resolve(toEleTree(data, {label: "name", pid: "parent"}));
                                            // console.log(res);
                                        })
                                        .catch(function (error) {
                                            reject(error);
                                            // console.log(error);
                                        });
                                });
                            },
                            type: "cascader",
                            label: "父品类",
                            attrs: {
                                filterable: true,
                                clearable: true,
                                props: {
                                    value: 'id',
                                    label: 'name',
                                    separator: '-',
                                    expandTrigger: 'hover',
                                    checkStrictly: true
                                }
                            },
                            required: true
                        },
                        pingying: {
                            type: "input",
                            label: "拼音全写",
                            attrs: {
                                clearable: true,
                                maxlength: 50,
                                showWordLimit: true
                            },
                            required: true
                        },
                        pyInitials: {
                            type: "input",
                            label: "拼音简写",
                            attrs: {
                                clearable: true,
                                maxlength: 20,
                                showWordLimit: true
                            },
                            required: true
                        },
                        keycode: {
                            type: "input",
                            label: "快捷编码",
                            attrs: {
                                clearable: true,
                                maxlength: 20,
                                showWordLimit: true
                            },
                            required: true
                        },
                        categoryArray: {
                            isOptions: true,
                            options: function () {
                                return new Promise((resolve, reject) => {
                                    axios.get('/category/getTree.action?state=1')
                                        .then((res) => {
                                            const data = res.data.data;
                                            resolve(toEleTree(data, {label: "name", pid: "parent"}));
                                            // console.log(res);
                                        })
                                        .catch(function (error) {
                                            reject(error);
                                            // console.log(error);
                                        });
                                });
                            },
                            type: "cascader",
                            label: "集团品类",
                            attrs: {
                                filterable: true,
                                clearable: true,
                                props: {
                                    value: 'id',
                                    label: 'name',
                                    separator: '-',
                                    expandTrigger: 'hover',
                                    checkStrictly: true
                                }
                            },
                            required: true
                        },
                        auto: {
                            isShowLabel: false,
                            default: "自动关联",
                            type: "button",
                            label: "按钮",
                            attrs: {
                                type: "primary",
                                plain: true,
                                icon: "el-icon-magic-stick"
                            },
                            on: {
                                click: () => {
                                    if (this.formData.name === "") {
                                        this.$message({
                                            message: '请输入品类名称',
                                            type: 'warning'
                                        });
                                        return;
                                    }
                                    this.loading = true;
                                    $.ajax({
                                        type: "post",
                                        url: '/cus_category/match.action',
                                        dataType: "json",
                                        data: {
                                            'name': this.formData.name
                                        },
                                        success: function (data) {
                                            if (data.length > 0) {
                                                editApp.formData.categoryArray = data;
                                            } else {
                                                editApp.$message({
                                                    message: '抱歉,我还不能识别这个品类',
                                                    type: 'warning'
                                                });
                                            }
                                            editApp.loading = false;
                                        },
                                        error: function () {
                                            editApp.$message.error('抱歉,匹配出错');
                                            editApp.loading = false;
                                        }
                                    });
                                }
                            },
                            tip: "我们将尽可能通过人工智能为您智能匹配品类,如结果不满意可多重试几次"
                        },
                        icon: {
                            label: '品类图片',
                            type: 'image-uploader',
                            attrs: {
                                action: '${url!}file/upload/',
                                drag: true,
                                data: {'accessToken': '389af650c1fe4d74a7bbd42c850088a3.1rHkoUqx3d4r3uoyoqpBtw'},
                                responseFn(response, file) {
                                    // 根据响应结果, 设置 URL
                                    return '${url!}file/view/' + response.data
                                }
                            }
                        }
                    },
                    order: [
                        "name",
                        "parentArray",
                        "pingying",
                        "pyInitials",
                        "keycode",
                        "icon",
                        "categoryArray"
                    ]
                }
            }
        },
        methods: {
            handleRequest(data) {
                data['parent'] = data.parentArray[data.parentArray.length - 1];
                data['categoryId'] = data.categoryArray[data.categoryArray.length - 1];
                console.log(data);

                axios.post("/cus_category/save.action", data)
                    .then(function (response) {
                        if (response.data.code != '200') {
                            bs4pop.alert(response.data.message, {type: 'error'});
                            return;
                        }
                        loadTable();
                        treeApp.loadTree();
                        $('#editModal').modal('hide');
                        bs4pop.alert("品类信息修改成功!", {type: 'success'});
                        bui.loading.hide();
                    })
                    .catch(function (error) {
                        bs4pop.alert("品类修改失败", {type: 'error'});
                    });
            }
        }
    });
</script>
