<#bs4Body>
<!-- Automatically provides/replaces `Promise` if missing or broken. -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
<!-- 引入Vue -->
<script src="${contextPath}/resources/design/vue@2.6.11.js"></script>
<!-- 引入element -->
<link rel="stylesheet" href="${contextPath}/resources/design/index.css">
<script src="${contextPath}/resources/design/index.js"></script>
<script src="${contextPath}/resources/design/axios.min.js" type="text/javascript"></script>
<script src="${contextPath}/resources/design/vue-ele-form.umd.min.js"></script>
<script src="${contextPath}/resources/design/extends/vue-ele-form-image-uploader/dist/vue-ele-form-image-uploader.umd.min.js"></script>
<div class="main-container container-fluid">

    <div class="row">
        <div class="col-3">
            <!-- treeView1 start -->
            <div id="treeView" class="pull-left ztree">
                <el-input
                        placeholder="输入关键字进行过滤"
                        v-model="filterText">
                </el-input>

                <el-tree
                        class="filter-tree"
                        v-loading="loading"
                        :data="data"
                        :props="defaultProps"
                        @node-click="nodeClick"
                        :filter-node-method="filterNode"
                        ref="tree">
                </el-tree>
            </div>
            <!-- treeView1 end -->
        </div>
        <div class="col-9">
            <div class="row row-cols-4" id="queryForm">
                <div class="form-group col">
                    <label for="category_status">状态</label>
                    <select id="category_status" class="form-control input-sm">
                        <option value="">-- 全部 --</option>
                        <option value="1">已启用</option>
                        <option value="2">已禁用</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="category_text">品类名称/品类代码</label>
                    <input id="category_text" type="text" class="form-control input-sm input-control len224"
                           placeholder="品类名称/品类代码">
                </div>
                <div class="col-auto align-self-center mt-3">
                    <button type="button" onclick="queryClickHandler();return false;"
                            class="btn btn-outline-primary mr-2"><i class="fa fa-search"></i> 查询
                    </button>
                    <button type="button" class="btn btn-outline-primary mr-2"
                            onclick="javascript:$('#queryForm .form-control').val('');"><i class="fa fa-refresh"></i> 清空
                    </button>
                    <#resource code="cc_add">
                    <button class="btn btn-outline-primary" id="addButton" onclick="addClickHandler();return false;"><i
                            class="fa fa-plus"></i> 新增
                    </button>
                </#resource>
            </div>
        </div>
        <!-- table-showlist start -->
        <div id="tablelist" class="table-showlist">

        </div>
        <input type="hidden" id="parentId" value="0"/>
        <!-- table-showlist end -->
    </div>
</div>

</div>

<div class="modal" tabindex="-1" role="dialog" id="addModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新增品类</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="editModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">修改品类</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var tableurl;
    var status;
    var text;
    var isQuery = true;

    function loadTable() {
        if (isQuery) {
            if (status) {
                $("#category_status option[value=" + status + "]")[0].selected = "selected";
            }
            $("#category_text").val(text);
        }
        if (tableurl) {
            $("#tablelist").load(tableurl);
        }
    }


    function tips(title, msg) {
        bs4pop.alert(msg, {type: 'success'});
    }

    function queryClickHandler() {
        bui.loading.show();
        status = $("#category_status").val();
        text = $("#category_text").val();
        $("#parentId").attr("value", "");
        tableurl = '/cus_category/table.html' + '?state=' + status + '&keyword=' + text;
        isQuery = true;
        loadTable();
        bui.loading.hide();
    }

    function addClickHandler() {
        var pid = $("#parentId").val();

        $("#addModal").modal();

        $('#addModal .modal-body').load("/cus_category/addView.html?pid=" + pid);
    }

    var treeApp = new Vue({
        el: '#treeView',
        watch: {
            filterText(val) {
                this.$refs.tree.filter(val);
            }
        },
        created: function () {
            this.loadTree();
        },
        methods: {
            loadTree() {
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: '/cus_category/getTree.action',
                    success: function (data) {
                        if (data.code != '200') {
                            tips("提示", data.message);
                            treeApp.loading = false;
                            return;
                        }
                        if (data.data) {
                            data.data.push({code: "", id: 0, name: "根目录", parent: -1, path: "0", pyInitials: ""});
                        }
                        treeApp.data = toEleTree(data.data, {label: "name", pid: "parent"});
                        treeApp.loading = false;
                    },
                    error: function () {
                        tips("提示", "加载品类树失败");
                        treeApp.loading = false;
                    }
                });
            },
            filterNode(value, data) {
                if (!value) return true;
                return data.label.indexOf(value) !== -1;
            },
            nodeClick(data) {
                const pid = data.id;
                $("#parentId").val(pid);
                $("#category_status option[value='']")[0].selected = "selected";
                $("#category_text").val("");
                tableurl = '/cus_category/table.html' + '?parent=' + pid;
                isQuery = false;
                loadTable();
            }
        },

        data() {
            return {
                filterText: '',
                loading: true,
                data: [],
                defaultProps: {
                    children: 'children',
                    label: 'label'
                }
            };
        }
    });

</script>
</#bs4Body>
