<#bs4Body>
<!-- Automatically provides/replaces `Promise` if missing or broken. -->
<script src="${contextPath}/resources/design/es6-promise.js"></script>
<script src="${contextPath}/resources/design/es6-promise.auto.js"></script>
<!-- 引入Vue -->
<script src="${contextPath}/resources/design/vue@2.6.11.js"></script>
<!-- 引入element -->
<link rel="stylesheet" href="${contextPath}/resources/design/index.css">
<script src="${contextPath}/resources/design/index.js"></script>
<div id=app>
    <div class="container-fluid pb-5">
        <ele-form
                :form-attrs="{
            size: 'medium'
            }"
                :is-show-cancel-btn="false"
                submit-btn-text="提交"
                form-btn-size="medium"
                :form-btns="formBtns"
                :is-dialog="true"
                :form-desc="formDesc"
                v-model="formData"
                :request-fn="handleRequest">
        </ele-form>
    </div>
</div>
</#bs4Body>
<script type="text/javascript">
    window.rootPath = '${contextPath}';
</script>
<script src="${contextPath}/resources/design/axios.min.js" type="text/javascript"></script>
<!-- 遮罩层 -->
<script src="${contextPath}/resources/blockUI/jquery.blockUI.js" type="text/javascript"></script>
<!-- 通用js -->
<script src="${contextPath}/resources/bui/js/base_list.js" type="text/javascript"></script>

<script src="${contextPath}/resources/design/vue-ele-form.umd.min.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                formBtns: [
                    {
                        text: ' 关闭 ',
                        click: () => {
                            $.modal.close();
                        }
                    }
                ],
                formData: {},
                formDesc: {
                    name: {
                        type: 'input',
                        label: '配置项',
                        rules: []
                    },
                    value: {
                        type: 'input',
                        label: '值',
                        rules: []
                    },
                    notes: {
                        type: 'input',
                        label: '备注',
                        rules: []
                    },
                    type: {
                        type: 'autocomplete',
                        label: '分组',
                        rules: [],
                        attrs: {
                            valueKey: "type",
                            triggerOnFocus: false,
                            fetchSuggestions: function (queryString, cb) {
                                axios.get(rootPath + "/configController/searchGroup.action?keyword=" + queryString)
                                    .then(function (response) {
                                        cb(response.data);
                                        console.log(response)
                                    })
                                    .catch(function (error) {
                                    });
                            }
                        }
                    },
                    marketId: {
                        type: 'select',
                        label: '市场',
                        required: true,
                        options: loadProvider({provider: 'marketProvider'})
                    }
                }
            };
        },
        methods: {
            handleRequest(data) {

                axios.post(rootPath + "/configController/edit.action", data)
                    .then(function (response) {
                        $.operate.saveSuccess(response.data);
                    })
                    .catch(function (error) {
                        $.modal.alertError("系统错误");
                    });
            }
        }
    })

    function loadProvider(data) {
        return new Promise((resolve, reject) => {
            axios.post('/convert/list.action', data)
                .then((res) => {
                    resolve(res.data);
                    // console.log(res);
                })
                .catch(function (error) {
                    reject(error);
                    // console.log(error);
                });
        });
    }
</script>

<script>
    app.formData = ${data!};
</script>
