
<script type="text/javascript">
    var okButton = $("#form-submit");

    function saveOrUpdateHandler() {
        if ($("#addForm").valid()) {
            okButton.attr("disabled", "disabled");
            bui.loading.show('努力提交中，请稍候。。。');
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/district/insert.action',
                data: $("#addForm").serialize(),
                success: function (data) {
                    bui.loading.hide();
                    if (data.code != '200') {
                        bs4pop.alert(data.message, {type: 'error'});
                        okButton.removeAttr("disabled");
                        return;
                    }
                    bs4pop.alert('成功', {type: 'success'}, function () {
                        window.location.reload();
                    });
                    okButton.removeAttr("disabled");
                },
                error: function () {
                    bui.loading.hide();
                    okButton.removeAttr("disabled");
                    bs4pop.alert("区域信息新增失败!", {type: 'error'});
                }
            });
        }
    }
</script>

<form id="addForm">
    <ele-form
            v-bind="formConfig"
            v-model="formData"
            v-loading="loading"
            :request-fn="handleRequest"
    />
</form>
<script type="text/javascript">
    var app = new Vue({
        el: '#addForm',
        data() {
            return {
                loading: false,
                formData: {},
                formConfig: {
                    isDialog: true,
                    isShowCancelBtn: false,
                    formBtnSize: 'small',
                    formAttrs:{size:'small'},
                    formDesc: {
                        number: {
                            type: "input",
                            label: "区域编号",
                            attrs: {
                                clearable: true,
                                maxlength: 4,
                                showWordLimit: true
                            },
                            required: true
                        },
                        name: {
                            type: "input",
                            label: "区域名称",
                            attrs: {
                                clearable: true,
                                maxlength: 10,
                                showWordLimit: true
                            },
                            required: true
                        },
                        kind: {
                            options: [
                                {text: '固定', value: 2, attrs: {size: 'small'}},
                                {text: '临时', value: 1, attrs: {size: 'small'},}
                            ],
                            label: "性质",
                            type: "select",
                            required: true
                        },
                        departmentId: {
                            options: function (data) {
                                return loadProvider({
                                    provider: 'authDepartmentProvider'})
                            },
                            label: "所属部门",
                            type: "select",
                            attrs: {
                                multiple: true,
                                clearable: true,
                                collapseTags: false
                            },
                            required: false
                        },
                        notes: {
                            label: "备注",
                            type: "textarea",
                            attrs: {
                                maxlength: 50,
                                showWordLimit: true,
                                autosize: {
                                    minRows: 2,
                                    maxRows: 4
                                }
                            }
                        }
                    }
                }
            }
        },
        methods: {
            handleRequest(data) {
                axios.post("/district/insert.action", data)
                    .then(function (response) {
                        if (response.data.code != '200') {
                            bs4pop.alert(response.data.message, {type: 'error'});
                            return;
                        }
                        $('#addModal').modal('hide');
                        bs4pop.alert("品类信息新增成功", {type: 'success'});
                        bui.loading.hide();
                    })
                    .catch(function (error) {
                        bs4pop.alert("品类新增失败", {type: 'error'});
                    });
            }
        }
    });
</script>