<form id="editForm">
    <ele-form
            v-bind="formConfig"
            v-model="formData"
            v-loading="loading"
            :request-fn="handleRequest"
    />
</form>
<script type="text/javascript">
    var editApp = new Vue({
        created: function () {
            const data = ${data!};
            this.formData = data;
        },
        el: '#editForm',
        data() {
            return {
                loading: false,
                formData: {},
                formConfig: {
                    isDialog: true,
                    isShowCancelBtn: false,
                    isShowErrorNotify: false,
                    formBtnSize: 'small',
                    formAttrs:{size:'small'},
                    formDesc: {
                        number: {
                            type: "input",
                            label: "区域编号",
                            attrs: {
                                clearable: true,
                                maxlength: 4,
                                showWordLimit: true
                            },
                            required: true
                        },
                        name: {
                            type: "input",
                            label: "区域名称",
                            attrs: {
                                clearable: true,
                                maxlength: 10,
                                showWordLimit: true
                            },
                            required: true
                        },
                        kind: {
                            options: [
                                {text: '固定', value: 2, attrs: {size: 'small'}},
                                {text: '临时', value: 1, attrs: {size: 'small'},}
                            ],
                            label: "性质",
                            type: "select",
                            required: true
                        },
                        departmentId: {
                            options: function (data) {
                                return loadProvider({
                                    provider: 'authDepartmentProvider',queryParams: {required: true}})
                            },
                            label: "所属部门",
                            type: "select",
                            attrs: {
                                multiple: true,
                                clearable: true,
                                collapseTags: false
                            },
                            required: false
                        },
                        notes: {
                            label: "备注",
                            type: "textarea",
                            attrs: {
                                maxlength: 50,
                                showWordLimit: true,
                                autosize: {
                                    minRows: 2,
                                    maxRows: 4
                                }
                            }
                        }
                    }
                }
            }
        },
        methods: {
            handleRequest(data) {
                editApp.loading = true;
                axios.post("/district/edit.action", data)
                    .then(function (response) {
                        editApp.loading = false;
                        if (response.data.code != '200') {
                            editApp.$message({
                                message: response.data.message,
                                type: 'error'
                            });
                            return;
                        }
                        $("#_modal").modal('hide');
                        editApp.$message({
                            message: '修改成功',
                            type: 'success'
                        });
                        queryDataHandler();
                    })
                    .catch(function (error) {
                        editApp.loading = false;
                        editApp.$message({
                            message: '修改失败',
                            type: 'error'
                        });
                    });
            }
        }
    });
</script>