
<form id="editForm">
    <ele-form
            v-bind="formConfig"
            v-model="formData"
            :request-fn="handleRequest"
    />
</form>
<script type="text/javascript">
    var editApp = new Vue({
        el: '#editForm',
        created: function () {
            const data = ${data!};
            this.formData = data;
        },
        data() {
            return {
                formData: {},
                formConfig: {
                    isDialog: true,
                    isShowCancelBtn: false,
                    isShowErrorNotify: false,
                    formBtnSize: 'small',
                    formAttrs:{size:'small'},
                    formDesc: {
                        name: {
                            type: "input",
                            label: "名称",
                            attrs: {
                                clearable: true,
                                maxlength: 20,
                                showWordLimit: true
                            },
                            required: true
                        },
                        memo: {
                            label: "备注",
                            type: "textarea",
                            attrs: {
                                maxlength: 50,
                                showWordLimit: true,
                                autosize: {
                                    minRows: 2,
                                    maxRows: 4
                                }
                            }
                        }
                    }
                }
            }
        },
        methods: {
            handleRequest(data) {
                axios.post("/subject/save.action", data)
                    .then(function (response) {
                        if (response.data.code != '200') {
                            bs4pop.alert(response.data.message, {type: 'error'});
                            return;
                        }
                        loadTable();
                        treeApp.loadTree();
                        $('#editModal').modal('hide');
                        bs4pop.alert("修改成功", {type: 'success'});
                        bui.loading.hide();
                    })
                    .catch(function (error) {
                        bs4pop.alert("修改失败", {type: 'error'});
                    });
            }
        }
    });
</script>