<style>
    #saveForm .select2-container--default .select2-selection--single {
        border: 1px solid #DBDDE1;
        height: 33.5px;

    }
    #saveForm .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 33.5px;
    }
</style>
<#bs4Body>
<div class="container-fluid">
    <form class="form" id="saveForm">
        <input type="hidden" name="parentId" value="0">
        <div class="breadcrumb">
            基本信息
            <a href="javascript:;" class="ml-auto" data-toggle="collapse" data-target="#baseInfo" aria-expanded="true" aria-controls="baseInfo">收起 <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        </div>
        <div id="baseInfo" class="row row-cols-4 collapse show">
            <div class="form-group col">
                <label for="">车型分类<i class="red">*</i></label>
                <select class="form-control" id="classify1" name="classify"></select>
                <#bcomboProvider _id="classify1" _provider="cartypeClassifyProvider" _queryParams='{dd_code:"cartype_classify", required:true}'/>
            </div>
            <div class="form-group col">
                <label for="">车型名称<i class="red">*</i></label>
                <input type="text" id="name" name="name" class="form-control" maxlength="8"
                       required/>
            </div>
            <div class="form-group col-8">
                <label for="">备注</label>
                <textarea class="form-control" id="notes" name="remark" rows="1" maxlength="50"></textarea>
            </div>
        </div>

        <div class="modal-footer-wrap">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-5" onclick="javascript: parent.dia.hide()" id="cancel">取消</button>
                <button type="button" class="btn btn-primary px-5" onclick="debounceSave($('#updateForm'))" id="editformSubmit">提交</button>
            </div>
        </div>
    </form>
</div>
</#bs4Body>
<script>
    // 保存数据
    let debounceSave =  bui.util.debounce(addCertainClickHandler,1000,true)
	$(function(){
		$("#saveForm").validate({
            rules: {
                name: {
                	required: true,
                    remote: {
                        url: "/carType/checkRepeat.action",
                        type: "post",
                        async: false,
                        cache: false,
                        data: {
                            name: function () {
                                return $('#name').val();
                            }
                        }
                    }
                }
            },
            messages: {
                name: {
                	required: "必填",
                    remote: "该车型名称已存在"
                }
            }
        });
	})
    // 提交保存
    function addCertainClickHandler(){
    	var okButton = $("#saveBtn");
        if (!$('#saveForm').valid()) {
            return false;
        } else {
            bui.loading.show('努力提交中，请稍候。。。');
            let _formData = new FormData($('#saveForm')[0]);
            $.ajax({
                type: "POST",
                url: "/carType/save.action",
                data: _formData,
                processData: false,
                contentType: false,
                async: true,
                success: function (res) {
                    bui.loading.hide();
                    if (res.code == "200") {
                        parent.dia.hide();
                        parent.queryDataHandler();
                    } else {
                        bui.loading.hide();
                        bs4pop.alert(res.result, {type: 'error'});
                    }
                },
                error: function (error) {
                    bui.loading.hide();
                    bs4pop.alert(error.result, {type: 'error'});
                }
            });
        }
    }
</script>


