<#bs4Body>
<!-- Automatically provides/replaces `Promise` if missing or broken. -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
<!-- 引入Vue -->
<script src="${contextPath}/resources/design/vue@2.6.11.js"></script>
<!-- 引入element -->
<link rel="stylesheet" href="${contextPath}/resources/design/index.css">
<script src="${contextPath}/resources/design/index.js"></script>
<div class="container-fluid">
    <#bs4nav>
    <div id=app>
        <ele-form
                :form-attrs="{
            size: 'medium'
            }"
                :inline="true"
                :is-show-reset-btn="true"
                form-btn-size="medium"
                :form-desc="formDesc"
                v-model="formData"
                :request-fn="handleRequest">
        </ele-form>
    </div>
    </#bs4nav>
<hr>
    <div class="row">
        <div class="col-12">
            <div id="toolbar" class="btn-group" role="group" aria-label="工具栏">
                <button onclick="$.operate.add()" type="button" class="btn btn-primary">
                    <i class="fa fa-plus"></i>&nbsp;&nbsp;新增
                </button>
                <button onclick="$.operate.edit()" type="button" class="btn btn-primary">
                    <i class="fa fa-plus"></i>&nbsp;&nbsp;修改
                </button>
                <button onclick="$.operate.batRemove()" type="button" class="btn btn-primary">
                    <i class="fa fa-remove"></i>&nbsp;&nbsp;删除
                </button>

            </div>

            <table id="dataTable" class="table" data-page-size="6" data-icons="bui.variable.icons">

            </table>
        </div>
    </div>
</div>

</#bs4Body>
<script type="text/javascript">
    window.rootPath='${contextPath}';
</script>
<!-- 通用js -->
<script src="${contextPath}/resources/bui/js/base_list.js" type="text/javascript"></script>
<!-- 遮罩层 -->
<script src="${contextPath}/resources/blockUI/jquery.blockUI.js" type="text/javascript"></script>
<script src="${contextPath}/resources/design/axios.min.js" type="text/javascript"></script>
<script src="${contextPath}/resources/design/vue-ele-form.umd.min.js"></script>
<script type="text/javascript">


/**  请求URL配置   **/
var dataUrl=window.rootPath+"/posMarketController/query.action";
var removeUrl=window.rootPath+"/posMarketController/deleteAll.action";
var createUrl=window.rootPath+"/posMarketController/add.action";
var updateUrl=window.rootPath+"/posMarketController/edit.action?id={id}";
var viewUrl=window.rootPath+"/posMarketController/view?id={id}";
var enableUrl=window.rootPath+"/posMarketController/enableAll.action";
var disableUrl=window.rootPath+"/posMarketController/disableAll.action";
var exportUrl=window.rootPath+"/posMarketController/export";
  var options = {
		dataUrl: dataUrl,
        createUrl: createUrl,
        updateUrl: updateUrl,
        viewUrl: viewUrl,
        enableUrl: enableUrl,
        disableUrl: disableUrl,
        removeUrl:removeUrl,
        exportUrl: exportUrl,
        sortName: "roleSort",
        modalName: "销地市场",
        search: false,
        id:"id",
	   dataColumns: [
			{
			    checkbox: true
			},
           {
               field: 'name',
               title: '市场名称'
           },
           {
               field: 'areaName',
               title: '所属区域',
               provider:'cityProvider'
           },
            {
			    field: 'createdTime',
			    title: '创建时间',
                provider:'datetimeProvider'
			},
            {
			    field: 'modifyTime',
			    title: '更新时间',
                provider:'datetimeProvider'
			},

            {
			    field: 'notes',
			    title: '备注'
			},
/*
参照修改注释
		{
			    field: 'xxstate',
			    title: 'xx状态',
			    visible: false, //隐藏
			    searchable: false,//搜索
			   	sortable:false,//设置true为允许列可以排序
			    order: 'asc', //排序顺序
		    	formatter: function (value, row, index) {
			        var actions = [];
			        if(value==0){
			        	 actions.push('<span class="label label-primary">关闭</span>');
			        }else if(value==1){
			        	 actions.push('<span class="label label-danger">开启</span>');
			        }
			      	return actions.join('');
				 }
			}
*/
			]
  };
$(function(){
	var oTab=$.table.oTableInit(options);
	oTab.Init();
})
</script>

<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                formData: {name:"",area:""},
                formDesc: {
                    name: {
                        type: 'input',
                        label: '市场名称',
                        rules: []
                    },
                    area: {
                        type: 'cascader',
                        label: '所属区域',
                        rules: [],
                        attrs: {
                            props: {
                                value: 'id',
                                label: 'name',
                                separator: '-',
                                expandTrigger: 'hover',
                                checkStrictly: true
                            }
                        },
                        options: function (data) {
                            return new Promise((resolve, reject) => {
                                axios.post('/posMarketController/listCity.action')
                                    .then((res) => {
                                        resolve(toEleTree(res.data, {label: "name", pid: "parentId"}));
                                        // console.log(res);
                                    })
                                    .catch(function (error) {
                                        reject(error);
                                        // console.log(error);
                                    });
                            });
                        },
                    }
                }
        };
        },
        methods: {
            handleRequest(data) {
                $.table.search(data);
            }
        }
    })
    function loadProvider(data) {
        return new Promise((resolve, reject) => {
            axios.post('/convert/list.action', data)
                .then((res) => {
                    resolve(res.data);
                    // console.log(res);
                })
                .catch(function (error) {
                    reject(error);
                    // console.log(error);
                });
        });
    }
</script>