<style>
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
    .avatar {
        width: 100%;
        height: 100%;
        display: block;
    }
</style>
<form id="addForm">
    <div class="form-group row">
        <label for="code" class="col-sm-2 col-form-label">品类代码</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="code" id="code" data-inputmask="'mask': '${parentCode!}99'"
                   required/>
        </div>
    </div>
    <div class="form-group row">
        <label for="addForm_name" class="col-sm-2 col-form-label">品类名称</label>
        <div class="col-sm-10">
            <input type="text" id="addForm_name" name="name" class="form-control" maxlength="20"
                   required/>
        </div>
    </div>

    <% if(has(pid)){ %>
    <input type="hidden" name="parent" value="${pid}">
    <div class="form-group row">
        <label for="addForm_name" class="col-sm-2 col-form-label">上级名称</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-sm" value="${parentName!}" disabled/>
        </div>
    </div>
    <% } %>
    <div class="form-group row">
        <label for="addForm_pingying" class="col-sm-2 col-form-label">拼音全写</label>
        <div class="col-sm-10">
            <input type="text" id="addForm_pingying" name="pingying" class="form-control input-sm"
                   maxlength="50"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="addForm_pyInitials" class="col-sm-2 col-form-label">拼音简写</label>
        <div class="col-sm-10">
            <input type="text" id="addForm_pyInitials" name="pyInitials" class="form-control input-sm"
                   maxlength="50"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="addForm_img" class="col-sm-2 col-form-label">品类图片</label>
        <input type="hidden" id="addForm_img" name="icon"/>
        <div class="col-sm-10">
            <el-upload
                    class="upload-demo"
                    drag
                    :data="pram"
                    :show-file-list="false"
                    :on-success="handleAvatarSuccess"
                    action="${url!}file/upload/">
                <img v-if="imageUrl" :src="imageUrl" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        $("#addForm").validate();
        var okButton = $("#saveBtn");
        okButton.unbind("click").click(function () {
            if ($("#addForm").valid()) {
                okButton.attr("disabled", "disabled");
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '/category/save.action',
                    data: $("#addForm").serialize(),
                    success: function (data) {
                        if (data.code != '200') {
                            bs4pop.alert(data.message, {type: 'error'});
                            okButton.removeAttr("disabled");
                            return;
                        }
                        loadTable();
                        addTreeNode($("#parentId").val(), data.data, true);
                        $('#addModal').modal('hide');
                        bs4pop.alert("品类信息新增成功", {type: 'success'});
                        bui.loading.hide();
                        okButton.removeAttr("disabled");
                    },
                    error: function () {
                        okButton.removeAttr("disabled");
                        bs4pop.alert("品类新增失败", {type: 'error'});
                    }
                });
            }
        });

        $("#addForm_name").on("input", function () {
            var name = $("#addForm_name").val();
            if (name != undefined && name.trim() != '') {
                $.ajax({
                    type: "post",
                    url: '/category/convert.action',
                    dataType: "json",
                    data: {
                        'name': name
                    },
                    success: function (data) {
                        $("#addForm_pingying").val(data.whole);
                        $("#addForm_pyInitials").val(data.first);
                    },
                    error: function () {

                    }
                });
            } else {
                $("#addForm_pingying").val("");
                $("#addForm_pyInitials").val("");
            }
        });

        $("#code").inputmask();
    });
    var app = new Vue({
        el: '#addForm',
        data() {
            return {
                imageUrl: '',
                pram:{"accessToken":"389af650c1fe4d74a7bbd42c850088a3.1rHkoUqx3d4r3uoyoqpBtw"}
            }
        },
        methods: {
            handleAvatarSuccess(res, file) {
                this.imageUrl = "${url!}file/view/" + res.data
                $("#addForm_img").val(res.data)
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            }
        }
    });
</script>