<#bs4Body>
<!-- Automatically provides/replaces `Promise` if missing or broken. -->
<script src="${contextPath}/resources/design/es6-promise.js"></script>
<script src="${contextPath}/resources/design/es6-promise.auto.js"></script>
<!-- 引入Vue -->
<script src="${contextPath}/resources/design/vue@2.6.11.js"></script>
<!-- 引入element -->
<link rel="stylesheet" href="${contextPath}/resources/design/index.css">
<script src="${contextPath}/resources/design/index.js"></script>
<div id=app>
    <ele-form
            :form-attrs="{
            size: 'medium'
            }"
            :is-show-cancel-btn="false"
            submit-btn-text="提交"
            form-btn-size="medium"
            :form-btns="formBtns"
            :is-dialog="true"
            :form-desc="formDesc"
            v-model="formData"
            :request-fn="handleRequest">
    </ele-form>
</div>
</#bs4Body>
<script type="text/javascript">
    window.rootPath = '${contextPath}';
</script>
<script src="${contextPath}/resources/design/axios.min.js" type="text/javascript"></script>
<!-- 遮罩层 -->
<script src="${contextPath}/resources/blockUI/jquery.blockUI.js" type="text/javascript"></script>
<!-- 通用js -->
<script src="${contextPath}/resources/bui/js/base_list.js" type="text/javascript"></script>

<script src="${contextPath}/resources/design/vue-ele-form.umd.min.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                formBtns: [
                    {
                        text: '关闭',
                        click: () => {
                            $.modal.close();
                        }
                    }
                ],
                formData: {},
                formDesc: {
                    name: {
                        type: 'input',
                        label: '资金项名称',
                        required: true,
                        disabled: true,
                        rules: [{
                            pattern: new RegExp("^[\u4e00-\u9fa5_a-zA-Z0-9]+$", ""),
                            type: "string",
                            message: "资金项名称只能是中文、英文字母和数字"
                        }],
                        attrs: {
                            maxlength: 20,
                            showWordLimit: true
                        },
                        valueFormatter (value) {
                            return value.trim();
                        }
                    },
                    marketIdArray: {
                        options: function (data) {
                            return new Promise((resolve, reject) => {
                                axios.post('/funditemController/allMarket.action')
                                    .then((res) => {
                                        console.log(toEleTree(res.data, {label: "name", pid: "parentId"}))
                                        resolve(toEleTree(res.data, {label: "name", pid: "parentId"}));
                                        // console.log(res);
                                    })
                                    .catch(function (error) {
                                        reject(error);
                                        // console.log(error);
                                    });
                            });
                        },
                        label: "市场",
                        type: "cascader-panel",
                        attrs: {
                            props: {
                                value: 'id',
                                label: 'name',
                                separator: '-',
                                expandTrigger: 'hover',
                                checkStrictly: true,
                                multiple: true
                            }
                        },
                        required: true
                    },
                }
            };
        },
        methods: {
            handleRequest(data) {
                const marketIdArray = [];
                data.marketIdArray.forEach(function (item){
                    marketIdArray.push(item[0]);
                });
                data.marketId = marketIdArray;
                axios.post(rootPath + "/funditemController/edit.action", data)
                    .then(function (response) {
                        $.operate.saveSuccess(response.data);
                    })
                    .catch(function (error) {
                        $.modal.alertError("系统错误");
                    });
            }
        }
    })

    function loadProvider(data) {
        return new Promise((resolve, reject) => {
            axios.post('/convert/list.action', data)
                .then((res) => {
                    resolve(res.data);
                    // console.log(res);
                })
                .catch(function (error) {
                    reject(error);
                    // console.log(error);
                });
        });
    }
</script>

<script>
    app.formData = ${data!};
</script>
