<div id=assets>
    <ele-form
            :form-attrs="{
            size: 'small'
            }"
            :is-show-cancel-btn="false"
            submit-btn-text="提交"
            form-btn-size="small"
            :form-btns="formBtns"
            :inline="true"
            :is-dialog="true"
            label-position="top"
            :form-desc="formDesc"
            v-model="formData"
            ref="assets"
            :request-fn="handleRequest">
    </ele-form>
</div>

<#booth_save _url="/booth/save.action" _type="booth_type" />

<script>
    var newArea = app.formData.area
    var parentId = app.parentId;
    if (newArea !== 0) {
        if (parentId === 0) {
            assets.formData.areaArray = [newArea];
        } else {
            assets.formData.areaArray = [parentId, newArea];
        }
    }
</script>
