<#bs4Body>
<!-- Automatically provides/replaces `Promise` if missing or broken. -->
<script src="${contextPath}/resources/design/es6-promise.js"></script>
<script src="${contextPath}/resources/design/es6-promise.auto.js"></script>
<!-- 引入Vue -->
<script src="${contextPath}/resources/design/vue@2.6.11.js"></script>
<!-- 引入element -->
<link rel="stylesheet" href="${contextPath}/resources/design/index.css">
<script src="${contextPath}/resources/design/index.js"></script>
<div id=app>
    <ele-form
            :form-attrs="{
            size: 'small'
            }"
            :is-show-cancel-btn="false"
            submit-btn-text="提交"
            form-btn-size="small"
            :form-btns="formBtns"
            :inline="true"
            :is-dialog="true"
            label-position="top"
            :form-desc="formDesc"
            v-model="formData"
            :request-fn="handleRequest">
    </ele-form>
</div>
</#bs4Body>
<script type="text/javascript">
    window.rootPath = '${contextPath}';
</script>
<script src="${contextPath}/resources/design/axios.min.js" type="text/javascript"></script>
<!-- 遮罩层 -->
<script src="${contextPath}/resources/blockUI/jquery.blockUI.js" type="text/javascript"></script>
<!-- 通用js -->
<script src="${contextPath}/resources/bui/js/base_treegrid.js" type="text/javascript"></script>

<script src="${contextPath}/resources/design/vue-ele-form.umd.min.js"></script>
<#booth_save _url="/booth/update.action" _type="booth_type" />
<script>
    app.formData = ${data!};
</script>