<#bs4Body>
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/easyui/css/themes/bootstrap/easyui.css">
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/easyui/css/themes/icon.css">
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/easyui/css/themes/color.css">
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/css/common.css">
<script type="text/javascript" src="${contextPath}/resources/easyui/js/jquery.easyui.min.js"></script>
<!-- easyui中文语言包 -->
<script type="text/javascript" src="${contextPath}/resources/easyui/js/easyui-lang-zh_CN.js"></script>
<!-- easyui扩展 -->
<script type="text/javascript" src="${contextPath}/common/easyui/js/easyui_extend.js"></script>

<!-- Automatically provides/replaces `Promise` if missing or broken. -->
<script src="${contextPath}/resources/design/es6-promise.js"></script>
<script src="${contextPath}/resources/design/es6-promise.auto.js"></script>
<!-- 引入Vue -->
<script src="${contextPath}/resources/design/vue@2.6.11.js"></script>
<!-- 引入element -->
<link rel="stylesheet" href="${contextPath}/resources/design/index.css">
<script src="${contextPath}/resources/design/index.js"></script>
<script src="${contextPath}/resources/design/axios.min.js" type="text/javascript"></script>
<script src="${contextPath}/resources/design/vue-ele-form.umd.min.js"></script>

<style>
    table > tbody > tr.treegrid-tr-tree > td {
        height: auto
    }
    table > tbody > tr > td {
        max-width: fit-content;
    }
    .datagrid-header-check input, .datagrid-cell-check input {

        height: 15px!important;
    }
</style>
<div class="modal fade" id="_modal" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!--modal-lg modal-sm(默认) 通过设置mw大小调整宽度（如mw-100） modal-dialog-centered垂直居中-->
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- 标题 -->
                <h5 class="modal-title" id="exampleModalLabel">客户新增</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<div class="main-container container-fluid" id=app v-loading.fullscreen.lock="fullscreenLoading">

    <div class="row">
        <div class="col-2">
            <!-- treeView1 start -->
            <div id="treeView" class="pull-left ztree">
                <el-input
                        placeholder="输入关键字进行过滤"
                        v-model="filterText">
                </el-input>

                <el-tree
                        class="filter-tree"
                        v-loading="loading"
                        :expand-on-click-node="false"
                        :data="data"
                        node-key="id"
                        :highlight-current="true"
                        :props="defaultProps"
                        @node-click="nodeClick"
                        :filter-node-method="filterNode"
                        ref="tree">
                </el-tree>
            </div>
            <!-- treeView1 end -->
        </div>
        <div class="col-10">
            <form class="form collapse show" id="queryForm" role="form" >
                <div class="row  row-cols-6">
                    <div class="form-group col">
                        <label for="">资产编号</label>
                        <input type="text" class="form-control isNaturalNum" name="name" placeholder="">
                    </div>
                    <div class="form-group col">
                        <label for="">楼层</label>
                        <input type="text" class="form-control isNaturalNum" name="floor" placeholder="">
                    </div>
                    <div class="form-group col">
                        <label for="businessType">资产类型</label>
                        <select id="businessType" class="form-control input-sm" name="businessType">
                            <option value="">-- 全部 --</option>
                            <option value="1">摊位</option>
                            <option value="2">冷库</option>
                            <option value="3">公寓</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="">部门</label>
                        <select id="departmentId" name="departmentId" class="form-control w-200px"></select>
                        <#bcomboProvider _id="departmentId" _provider="authDepartmentProvider" _queryParams='{emptyText:"-- 全部 --"}'/>
                    </div>
                    <div class="form-group col">
                        <label for="">使用方</label>
                        <input type="text" class="form-control" name="user" placeholder="">
                    </div>

                    <div class="form-group col-auto">
                        <label for="createdStart" class="justify-content-end mr-2 w-100px">创建时间:</label>
                        <div class="form-inline">
                            <div class="input-group">
                                <input type="text" name="startTime" id="createdStart" class="form-control laydate date"/>
                                <div class="input-group-append">
                                    <label for="createdStart" class="input-group-text fa fa-calendar"></label>
                                </div>
                            </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                            <div class="input-group" id="datetimepicker3">
                                <input type="text" name="endTime" id="createdEnd" class="form-control laydate date" value=""/>
                                <div class="input-group-append">
                                    <label for="createdEnd" class="input-group-text fa fa-calendar"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-auto">
                        <label for="">数量</label>
                        <div class="form-inline">
                            <input type="number" name="startNumber" class="form-control" range="0 999999.00">
                            &nbsp;&nbsp;至&nbsp;&nbsp;
                            <input type="number" name="endNumber" class="form-control" range="0 999999.00">
                        </div>
                    </div>
                    <div class="form-group col">
                        <label for="state">状态</label>
                        <select id="state" class="form-control input-sm" name="state">
                            <option value="">-- 全部 --</option>
                            <option value="1">空闲</option>
                            <option value="2">使用中</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="type">性质</label>
                        <select id="type" class="form-control input-sm" name="type">
                            <option value="">-- 全部 --</option>
                            <option value="0">固定</option>
                            <option value="1">临时</option>
                            <option value="2">办公</option>
                        </select>
                    </div>
                    <div class="col align-self-center mt-3">
                        <div class="form-inline">
                            <button type="button" class="btn btn-outline-primary mr-2" onclick="refresh()"><i class="fa fa-refresh"></i> 清空</button>
                            <button type="button" class="btn btn-outline-primary" onclick="search()"><i class="fa fa-search"></i> 查询</button>
                        </div>
                    </div>
                </div>

            </form>
            <hr>
            <span>已使用:{{used}}</span>&nbsp;<span>空闲中:{{free}}</span>
            <div class="row">
                <div class="col-12">
                    <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
                        <#resource code="booth_view">
                        <button type="button" class="btn btn-primary" onclick="$.operate.view()">
                            <i class="fa fa-eye"></i>查看
                        </button>
                    </#resource>
                    <#resource code="booth_add">
                        <button id="btn_add" type="button" class="btn btn-primary" onclick="openInsertHandler()"><i class="fa fa-plus"></i> 新增
                        </button>
                    </#resource>
                <#resource code="booth_copy">
                <button id="btn_copy" type="button" class="btn btn-primary" onclick="copy()"><i class="fa fa-copy"></i> 复制
                </button>
            </#resource>
                <#resource code="booth_edit">
                <button type="button" class="btn btn-primary" onclick="openUpdateHandler()">
                    <i class="fa fa-pencil-square-o"></i> 修改
                </button>
            </#resource>
            <#resource code="booth_split">
            <button type="button" id="btn_split" class="btn btn-primary" onclick="$.operate.split()">
                <i class="fa fa-pencil-square-o"></i> 拆分资产
            </button>
        </#resource>
        <#resource code="booth_del">
        <button type="button" class="btn btn-primary" onclick="$.operate.remove()">
            <i class="fa fa-trash-o"></i> 删除
        </button>
    </#resource>
    <#resource code="booth_export">
    <button type="button" class="btn btn-primary" onclick="doExport()">
        <i class="fa fa-download"></i> 导出
    </button>
</#resource>
<button type="button" class="btn btn-primary" onclick="window.location.href='/booth/card.action'">
    <i class="fa fa-vcard-o"></i> 卡片模式
</button>
</div>

<table title="" id="grid" class="easyui-treegrid" idField="id"
       data-options="
                                                    method: 'get',
                                                    idField: 'id',
                                                    singleSelect:true,
                                                    remoteSort:false,
                                                    multiSort:false,
                                                    pagination: true,
                                                    pageSize: 10,
                                                    pageList: [10,20,50]
                                                ">
    <thead>
    <tr>
        <th data-options="field:'ck',checkbox:true"></th>
        <th data-options="field:'name',sortable:true,formatter:formatterView" width="10%">资产编号</th>
        <th data-options="field:'businessType',sortable:true,formatter:formatterBusinessType" width="10%">资产类型</th>
        <th data-options="field:'number',sortable:true" width="5%">数量</th>
        <th data-options="field:'unit',_provider:'dataDictionaryValueProvider'" width="5%">单位</th>
        <th data-options="field:'area',_provider:'districtProvider'" width="10%">区域</th>
        <th data-options="field:'floor'" width="10%">楼层</th>
        <th data-options="field:'type',formatter:formatterType" width="5%">性质</th>
        <th data-options="field:'level',_provider:'dataDictionaryValueProvider'" width="10%">等级</th>
        <th data-options="field:'user'" width="10%">使用方</th>
        <th data-options="field:'departmentId',_provider:'departmentProvider'" width="10%">部门</th>
        <th data-options="field:'createTime',_provider:'datetimeProvider'" width="10%">创建时间</th>
        <th data-options="field:'state',_provider:'boothStateProvider',formatter:stateFormatter" width="5%">状态</th>
    </tr>
    </thead>
</table>
</div>
</div>
</div>

</div>

</div>

</#bs4Body>

<script type="text/javascript" src="${contextPath}/resources/blockUI/jquery.blockUI.js"></script>
<script type="text/javascript" src="${contextPath}/resources/bui/js/base_treegrid.js"></script>
<script type="text/javascript">
    var hasView = false;
    <#resource code="booth_view">
    hasView = true;
    </#resource>
</script>
<script type="text/javascript">

    window.rootPath = '${contextPath}';

    var dataUrl = window.rootPath + "/booth/listPage.action";
    var removeUrl = window.rootPath + "/booth/delete.action";
    var changeStatusUrl = window.rootPath + "/booth/changeStatus.action";
    var createUrl = window.rootPath + "/booth/add.html";
    var viewUrl = window.rootPath + "/booth/view.html?id={id}";
    var updateUrl = window.rootPath + "/booth/update.html?id={id}";
    var splitUrl = window.rootPath + "/booth/split.html?id={id}";
    var exportUrl = window.rootPath + "/BoothController/export";
    var options = {
        dataUrl: dataUrl,
        createUrl: createUrl,
        updateUrl: updateUrl,
        changeStatusUrl: changeStatusUrl,
        viewUrl: viewUrl,
        splitUrl: splitUrl,
        removeUrl: removeUrl,
        exportUrl: exportUrl,
        sortName: "roleSort",
        modalName: "资产管理"
    };


    function formatterView(value, row, index) {
        if (hasView) {
            return '<a class="like" href="javascript:void(0)" onclick="$.operate.view(' + row.id + ')" title="Like">' + value + '</a>'
        } else {
            return row.name;
        }
    }

    function formatterBusinessType(value, row, index) {
        if(value == 1){
            return "摊位"
        } else if(value == 2){
            return "冷库";
        } else{
            return "公寓";
        }
    }

    function formatterType(value, row, index) {
        if (value == 0) {
            return "固定";
        } else if (value == 1) {
            return "临时";
        } else if (value == 2) {
            return "办公";
        } else {
            return "";
        }
    }

    function stateFormatter(value, row, index) {
        return row.status;
    }

    function copy() {
        var row = $.bs_treegrid.selectFirstColumns();
        if (null == row) {
            $.modal.alertWarning('请选中一条数据');
            return;
        }
        let id = row.id;
        $("#_modal").modal();
        $('#_modal .modal-body').load("/booth/copy.action?id=" + id);
        $("#_modal").find('.modal-title').text('资产复制');
    }

    function refresh() {
        $('#queryForm .form-control').val('');
    }

    function openInsertHandler() {
        $("#_modal").modal();
        $('#_modal .modal-body').load("/booth/add.html");
        $("#_modal").find('.modal-title').text('新增资产');
    }

    function openUpdateHandler() {
        var row = $.bs_treegrid.selectFirstColumns();
        if (null == row) {
            $.modal.alertWarning('请选中一条数据');
            return;
        }
        var url = $.bs_treegrid._option.updateUrl.replace("{id}", row.id);
        $("#_modal").modal();
        $('#_modal .modal-body').load(url);
        $("#_modal").find('.modal-title').text('修改资产');
    }

</script>

<script>
    var app = new Vue({
        el: '#app',
        watch: {
            filterText(val) {
                this.$refs.tree.filter(val);
            }
        },
        data() {
            return {
                used: 0,
                free: 0,
                fullscreenLoading: true,
                path: [],
                filterText: '',
                loading: true,
                data: [],
                defaultProps: {
                    children: 'children',
                    label: 'label'
                },
                parentId: 0,
                formData: {
                    area: 0
                },
            };
        },
        methods: {
            loadTree() {
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: '/district/search.action',
                    success: function (data) {
                        if (data.code != '200') {
                            app.loading = false;
                            return;
                        }
                        if (data.data) {
                            data.data.push({id: 0, name: "根目录", parent: -1});
                        }
                        app.data = toEleTree(data.data, {label: "name", pid: "parentId"});
                        if (app.data.length > 0) {
                            app.formData.area = app.data[0].id;
                            app.path.push(app.data[0].name);
                        }
                        app.$nextTick(() => {
                            // treeBox 元素的ref   value 绑定的node-key
                            app.$refs.tree.setCurrentKey(app.formData.area);
                        });

                        var oGrid = $.bs_treegrid.oGridInit(options);
                        oGrid.Init();
                        app.fullscreenLoading = false;
                        app.loading = false;
                    },
                    error: function () {
                        app.loading = false;
                    }
                });
            },
            filterNode(value, data) {
                if (!value) return true;
                return data.label.indexOf(value) !== -1;
            },
            nodeClick(data) {
                app.formData.area = data.id;
                app.parentId = data.parentId;
                $.bs_treegrid.refresh()
                calUsed();
                if (data.parentId === 0) {
                    app.path = [data.name]
                } else {
                    app.path = [data.name];
                    app.data.forEach(function (it) {
                        if (it.id === data.parentId) {
                            app.path.push(it.name);
                        }
                    });
                }
            }
        }
    })

    $(function () {
        app.loadTree();
        calUsed();
    })

    function search() {
        app.$refs.tree.setCurrentKey(app.formData.area);
        $.bs_treegrid.refresh();
        calUsed();
    }
    function calUsed(){
        $.ajax({
            type: "GET",
            data:$.extend({area:app.formData.area},bindTreegridMeta2Form("grid", "queryForm")),
            dataType: "json",
            url: '/booth/listUsed.action',
            success: function (data) {
                app.free = data.free;
                app.used = data.used;
            },
            error: function () {
            }
        });
    }

    function doExport() {
        let extend = $.extend({area: app.formData.area}, bindTreegridMeta2Form("grid", "queryForm"));
        window.location.href = "/booth/download.action?" + parseParam(extend);
    }

    var parseParam = function (param, key) {

        var paramStr = "";

        if (param instanceof String || param instanceof Number || param instanceof Boolean) {

            paramStr += "&" + key + "=" + encodeURIComponent(param);

        } else {

            $.each(param, function (i) {

                var k = key == null ? i : key + (param instanceof Array ? "[" + i + "]" : "." + i );

                paramStr += '&' + parseParam(this, k);

            });

        }
        return paramStr.substr(1);
    };

</script>