<#bs4Body>
<!-- Automatically provides/replaces `Promise` if missing or broken. -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
<!-- 引入Vue -->
<script src="${contextPath}/resources/design/vue@2.6.11.js"></script>
<!-- 引入element -->
<link rel="stylesheet" href="${contextPath}/resources/design/index.css">
<script src="${contextPath}/resources/design/index.js"></script>
<style>
    [v-cloak]{ display: none; }
</style>
<div id=app>
    <ele-form
            :form-attrs="{
            size: 'small'
            }"
            :is-show-cancel-btn="false"
            :disabled="true"
            :is-show-submit-btn="false"
            submit-btn-text="提交"
            form-btn-size="small"
            :inline="true"
            :is-dialog="true"
            label-position="top"
            :form-desc="formDesc"
            v-model="formData"
            :request-fn="handleRequest">
    </ele-form>
</div>
<div id="split" v-cloak>
    <el-divider content-position="left">拆分(可用:{{ number }})</el-divider>
    <el-form
            ref="dataFormLXR"
            size="medium"
            :model="splitTemp"
    >
        <el-table :data="splitTemp.splitList" show-header="false" style="width: 100%" max-height="300">
            <el-table-column
                    label="">
                <template slot-scope="scope">
                    <el-form-item
                            label=""
                            :prop="'splitList.' + scope.$index + '.names'"
                            :rules="rules.names"
                    >
                        <el-input v-model="scope.row.names" placeholder="请填写编号" maxlength="100" show-word-limit/>
                    </el-form-item>
                </template>
            </el-table-column>
            <el-table-column
                    label="">
                <template slot-scope="scope">
                    <el-form-item
                            label=""
                            :prop="'splitList.' + scope.$index + '.numbers'"
                            :rules="rules.numbers"
                    >
                        <el-input-number v-model="scope.row.numbers" :precision="2" :step="0.1" size="medium" :max="999999.99" :min="0.1"
                                         label="描述文字"></el-input-number>
                    </el-form-item>
                </template>
            </el-table-column>
            <el-table-column label="">
                <template slot-scope="scope">
                    <el-form-item>
                        <el-button
                                type="danger"
                                icon="el-icon-delete"
                                circle
                                size="small"
                                @click="deleteRow(scope.row,scope.$index)"/>
                    </el-form-item>
                </template>
            </el-table-column>
        </el-table>
        <el-row>
            <el-col :span="24" align="right" style="padding:10px">
                <div class="el-table-add-row">
                    <el-tooltip content="拆分" placement="top">
                        <el-button type="success" icon="el-icon-plus" circle size="small" @click="addRow()" />
                    </el-tooltip>

                </div>
            </el-col>
        </el-row>
        <el-form-item
                label="备注"
                prop="notes"
                :rules="rules.notes"
        >
            <el-input
                    type="textarea"
                    :autosize="{ minRows: 2, maxRows: 4}"
                    placeholder="请输入拆分备注"
                    maxlength="100"
                    show-word-limit
                    v-model="splitTemp.notes">
            </el-input>
        </el-form-item>
    </el-form>
    <el-row style="margin-top: 20px;">
        <el-button size="medium" @click="submit" type="primary">提交</el-button>
        <el-button size="medium" @click="cancel">关闭</el-button>
    </el-row>
</div>
</#bs4Body>
<script type="text/javascript">
    window.rootPath = '${contextPath}';
</script>
<script src="${contextPath}/resources/design/axios.min.js" type="text/javascript"></script>
<!-- 遮罩层 -->
<script src="${contextPath}/resources/blockUI/jquery.blockUI.js" type="text/javascript"></script>
<!-- 通用js -->
<script src="${contextPath}/resources/bui/js/base_treegrid.js" type="text/javascript"></script>

<script src="${contextPath}/resources/design/vue-ele-form.umd.min.js"></script>
<#booth_save _url="" _type="booth_type" />
<script>
    app.formData = ${data!};
</script>
<script>
    var itemIndex = 0;
    var split = new Vue({
        el: '#split',
        data() {
            return {
                number:${number},
                splitTemp: {
                    splitList: [

                    ],
                    notes: ""
                },
                rules: {
                    names: [{ required: true, message: '请输入编号', trigger: ['blur', 'change'] }],
                    notes: [{ required: true, message: '请输入备注', trigger: ['blur', 'change'] }]
                }
            }
        },
        methods: {
            addRow() {
                if(split.splitTemp.splitList.length == 0 && split.number > 0){
                    for (var i = 0; i < 2; i++) {
                        var n = split.number.div(2).toFixed(2)
                        if (i === 1) {
                            n = (split.number - n).toFixed(2);
                        }
                        split.splitTemp.splitList.push({names: app.formData.name + "_" + ++itemIndex, numbers: n})
                    }
                } else {
                    let total = Number(0);
                    for (var i = 0; i < split.splitTemp.splitList.length; i++){
                        total = total.add(Number(split.splitTemp.splitList[i].numbers));
                    }

                    if (total >= split.number) {
                        split.$message({
                            message: '可拆分数量不足',
                            type: 'warning'
                        });
                    } else {
                        split.splitTemp.splitList.push({names: app.formData.name + "_" + ++itemIndex, numbers: Number(split.number).sub(total)})
                    }
                }
            },
            deleteRow(row, index) {
                split.splitTemp.splitList.splice(index, 1)
            },
            submit() {
                split.$refs['dataFormLXR'].validate(valid => {
                    if(valid){
                        if (split.splitTemp.splitList.length === 0) {
                            split.$message({
                                message: '未找到拆分信息，请点击右下角按钮添加',
                                type: 'warning'
                            });
                            return;
                        }
                        let total = Number(0);
                        for (let i = 0; i < split.splitTemp.splitList.length; i++){
                            total = total.add(Number(split.splitTemp.splitList[i].numbers));
                        }

                        if (total > split.number) {
                            split.$message({
                                message: '可拆分数量不足',
                                type: 'warning'
                            });
                            return;
                        }

                        split.splitTemp.id = app.formData.id;
                        axios.post(rootPath + "/booth/split.action", split.splitTemp)
                            .then(function (response) {
                                $.operate.saveSuccess(response.data);
                            })
                            .catch(function (error) {
                                $.modal.alertError("系统错误");
                            });
                    }
                })
            },
            cancel() {
                $.modal.close();
            }
        }
    })
</script>