<#bs4Body>
<!-- Automatically provides/replaces `Promise` if missing or broken. -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
<!-- 引入Vue -->
<script src="${contextPath}/resources/design/vue@2.6.11.js"></script>
<!-- 引入element -->
<link rel="stylesheet" href="${contextPath}/resources/design/index.css">
<script src="${contextPath}/resources/design/index.js"></script>
<div id=app>
    <ele-form-section
            v-model="formData"
            :sections="sections"
            :form-attrs="{
            size: 'mini'
            }"
            :is-show-cancel-btn="false"
            :disabled="true"
            :is-show-submit-btn="false"
            submit-btn-text="提交"
            form-btn-size="mini"
            :is-dialog="true"
            label-position="top"
    />

</div>
</#bs4Body>
<script type="text/javascript">
    window.rootPath = '${contextPath}';
</script>
<script src="${contextPath}/resources/design/axios.min.js" type="text/javascript"></script>
<!-- 遮罩层 -->
<script src="${contextPath}/resources/blockUI/jquery.blockUI.js" type="text/javascript"></script>
<!-- 通用js -->
<script src="${contextPath}/resources/bui/js/base_treegrid.js" type="text/javascript"></script>

<script src="${contextPath}/resources/design/vue-ele-form.umd.min.js"></script>
<script src="${contextPath}/resources/design/extends/vue-ele-form-table-editor/dist/vue-ele-form-table-editor.umd.min.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        data () {
            return {
                // 同 vue-ele-form
                formData: {},
                sections: [
                    {
                        // 分区标题
                        title: '基本信息',
                        // 分区icon (可选)
                        icon: 'el-icon-user',
                        // 分区表单项
                        // 和group不同，仅将vue-ele-form的formDesc放入section中
                        formDesc: {
                            businessType: {
                                options: [
                                    {text: '摊位', value: 1, attrs: {size: 'medium'}},
                                    {text: '冷库', value: 2, attrs: {size: 'medium'}},
                                    {text: '公寓', value: 3, attrs: {size: 'medium'}}
                                ],
                                label: "资产类型",
                                type: "select",
                                layout: 6,
                                required: true
                            },
                            areaArray: {
                                options: function (data) {
                                    return new Promise((resolve, reject) => {
                                        axios.post('/district/search.action')
                                            .then((res) => {
                                                resolve(toEleTree(res.data.data, {label: "name", pid: "parentId"}));
                                                // console.log(res);
                                            })
                                            .catch(function (error) {
                                                reject(error);
                                                // console.log(error);
                                            });
                                    });
                                },
                                label: "区域",
                                type: "cascader",
                                attrs: {
                                    props: {
                                        value: 'id',
                                        label: 'name',
                                        separator: '-',
                                        expandTrigger: 'hover',
                                        checkStrictly: true
                                    }
                                },
                                layout: 6,
                                required: true
                            },
                            floor: {
                                label: "楼层",
                                type: "select",
                                layout: 6,
                                optionsLinkageFields: ['areaArray'],
                                prop: { text: 'name', value: 'name' },
                                options: data => {
                                    if (data.areaArray!==undefined && data.areaArray.length > 0) {
                                        let areaArray = data.areaArray;
                                        let area = areaArray[0];
                                        if (areaArray.length > 1) {
                                            area = areaArray[1];
                                        }
                                        return new Promise((resolve, reject) => {
                                            axios.post('/floorController/queryAll.action', {area: area})
                                                .then((res) => {
                                                    resolve(res.data);
                                                    // console.log(res);
                                                })
                                                .catch(function (error) {
                                                    reject(error);
                                                    // console.log(error);
                                                });
                                        });
                                    }
                                }
                            },
                            departmentId: {
                                options: function (data) {
                                    return loadProvider({
                                        provider: 'authDepartmentProvider'})
                                },
                                label: "所属部门",
                                type: "select",
                                layout: 6,
                                required: false
                            },
                            name: {
                                label: "编号",
                                type: "input",
                                attrs: {
                                    maxlength: 20,
                                    showWordLimit: false
                                },
                                layout: 6,
                                required: true
                            },
                            corner: {
                                options: function (data) {
                                    return loadProvider({
                                        provider: 'cornerProvider',
                                        queryParams: {required: true}
                                    })
                                },
                                label: "是否转角",
                                type: "select",
                                layout: 6,
                                required: true
                            },
                            type: {
                                options: [
                                    {text: '固定', value: 0, attrs: {size: 'medium'}},
                                    {text: '临时', value: 1, attrs: {size: 'medium'}}
                                ],
                                label: "性质",
                                type: "select",
                                layout: 6,
                                required: true
                            },
                            unit: {
                                options: function (data) {
                                    return loadProvider({
                                        provider: 'dataDictionaryValueProvider',
                                        queryParams: {dd_code: "unit", required: true}
                                    })
                                },
                                label: "单位",
                                type: "select",
                                layout: 6,
                                required: true
                            },
                            number: {
                                label: "数量",
                                type: "number",
                                attrs: {
                                    min: 1,
                                    max: 999999,
                                    precision: 2
                                },
                                default: 0,
                                layout: 6,
                                required: true
                            },
                            notes: {
                                label: "备注",
                                type: "textarea",
                                attrs: {
                                    maxlength: 100,
                                    showWordLimit: true,
                                    autosize: {
                                        minRows: 2,
                                        maxRows: 4
                                    }
                                },
                                layout: 24
                            },
                            creatorUser: {
                                label: "创建人",
                                type: "input",
                                attrs: {
                                    disabled: true
                                },
                                vif (data) {
                                    return data.creatorUser
                                },
                                layout: 6
                            },
                            createTime: {
                                label: "创建时间",
                                type: "input",
                                attrs: {
                                    disabled: true
                                },
                                vif (data) {
                                    return data.createTime
                                },
                                layout: 18
                            }
                        }
                    },
                    {
                        title: '资产历史使用情况',
                        icon: 'el-icon-user',
                        formDesc: {
                            use: {
                                type: 'table-editor',
                                attrs: {
                                    isShowDelete: false,
                                    isShowAdd: false,
                                    columns: [
                                        {
                                            // el-table-column 的属性
                                            prop: "grade",
                                            label: "使用方"
                                        },
                                        {
                                            prop: "name",
                                            label: "开始时间"
                                        },
                                        {
                                            prop: "sex",
                                            label: "结束时间"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    {
                        title: '资产快照',
                        icon: 'el-icon-user',
                        formDesc: {
                            snapshot: {
                                type: 'table-editor',
                                attrs: {
                                    isShowDelete: false,
                                    isShowAdd: false,
                                    extraBtns: [
                                        {
                                            text: "查看",
                                            attrs: {
                                                type: "text"
                                            },
                                            // click事件
                                            click(scope) {
                                                /* eslint-disable */
                                                console.log(scope);
                                            }
                                        }
                                    ],
                                    columns: [
                                        {
                                            // el-table-column 的属性
                                            prop: "grade",
                                            label: "时间"
                                        },
                                        {
                                            prop: "name",
                                            label: "快照版本"
                                        },
                                        {
                                            prop: "sex",
                                            label: "备注"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                ]
            }
        },
        methods: {

        }
    })
    function loadProvider(data) {
        return new Promise((resolve, reject) => {
            axios.post('/convert/list.action', data)
                .then((res) => {
                    resolve(res.data);
                    // console.log(res);
                })
                .catch(function (error) {
                    reject(error);
                    // console.log(error);
                });
        });
    }
</script>

<script>
    app.formData = ${data!};
</script>