<#bs4Body>
<!-- Automatically provides/replaces `Promise` if missing or broken. -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
<!-- 引入Vue -->
<script src="${contextPath}/resources/design/vue@2.6.11.js"></script>
<!-- 引入element -->
<link rel="stylesheet" href="${contextPath}/resources/design/index.css">
<script src="${contextPath}/resources/design/index.js"></script>
<div id=app>
    <el-form
            ref="dataFormLXR"
            size="small"
            :model="splitTemp"
    >
        <el-table :data="splitTemp.splitList" show-header="false" style="width: 100%" max-height="400">
            <el-table-column
                    label="楼层名称">
                <template slot-scope="scope">
                    <el-form-item
                            label=""
                            :prop="'splitList.' + scope.$index + '.name'"
                            :rules="rules.name"
                    >
                        <el-input v-model="scope.row.name" placeholder="请填写楼层名称" maxlength="100" show-word-limit/>
                    </el-form-item>
                </template>
            </el-table-column>
            <el-table-column
                    label="区域">
                <template slot-scope="scope">
                    <el-form-item
                            label=""
                            :prop="'splitList.' + scope.$index + '.areaArray'"
                            :rules="rules.areaArray"
                    >
                        <el-cascader
                                v-model="scope.row.areaArray"
                                :options="options"
                                :props="{ expandTrigger: 'hover',value:'id',checkStrictly: true }"></el-cascader>
                    </el-form-item>
                </template>
            </el-table-column>
            <el-table-column
                    label="备注">
                <template slot-scope="scope">
                    <el-form-item
                            label=""
                            :prop="'splitList.' + scope.$index + '.notes'"
                            :rules="rules.notes"
                    >
                        <el-input v-model="scope.row.notes" placeholder="请填写备注" maxlength="100" show-word-limit/>
                    </el-form-item>
                </template>
            </el-table-column>
            <el-table-column label="" width="80">
                <template slot-scope="scope">
                    <el-form-item>
                        <el-button
                                type="danger"
                                icon="el-icon-delete"
                                circle
                                size="small"
                                @click="deleteRow(scope.row,scope.$index)"/>
                    </el-form-item>
                </template>
            </el-table-column>
        </el-table>
        <el-row>
            <el-col :span="24" align="right" style="padding:10px">
                <div class="el-table-add-row">
                    <el-tooltip content="新增" placement="top">
                        <el-button type="success" icon="el-icon-plus" circle size="small" @click="addRow()" />
                    </el-tooltip>

                </div>
            </el-col>
        </el-row>
    </el-form>
    <el-row style="margin-top: 20px;">
        <el-button size="medium" @click="submit" type="primary">提交</el-button>
        <el-button size="medium" @click="cancel">关闭</el-button>
    </el-row>
</div>
</#bs4Body>
<script type="text/javascript">
    window.rootPath = '${contextPath}';
</script>
<script src="${contextPath}/resources/design/axios.min.js" type="text/javascript"></script>
<!-- 遮罩层 -->
<script src="${contextPath}/resources/blockUI/jquery.blockUI.js" type="text/javascript"></script>
<!-- 通用js -->
<script src="${contextPath}/resources/bui/js/base_list.js" type="text/javascript"></script>

<script>

    var app = new Vue({
        el: '#app',
        data() {
            return {
                options:[],
                splitTemp: {
                    splitList: [
                        {name: '', notes: '', area: ''}
                    ]
                },
                rules: {
                    name: [{ required: true, message: '请输入编号', trigger: ['blur', 'change'] }],
                    notes: [{ required: true, message: '请输入备注', trigger: ['blur', 'change'] }],
                    areaArray: [{ required: true, message: '区域必填'}]
                }
            }
        },
        methods: {
            addRow() {
                app.splitTemp.splitList.push({name: '', notes: '', area: ''});
            },
            deleteRow(row, index) {
                app.splitTemp.splitList.splice(index, 1)
            },
            submit() {
                app.$refs['dataFormLXR'].validate(valid => {
                    if(valid){
                        const data = [];
                        app.splitTemp.splitList.forEach(function (it){
                            it.area = it.areaArray[it.areaArray.length - 1];
                            data.push(it);
                        });
                        console.log(data)
                        axios.post(rootPath + "/floorController/add.action", data)
                            .then(function (response) {
                                $.operate.saveSuccess(response.data);
                            })
                            .catch(function (error) {
                                $.modal.alertError("系统错误");
                            });
                    }
                })
            },
            cancel() {
                $.modal.close();
            }
        }
    })
</script>
